@model PortfolioApp.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.ProjectNaam</h1>

<div>
    <h4>@Model.ProjectBeschrijving</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectNaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectBeschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectBeschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectDatum)
        </dd>
    </dl>

    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
        @Html.ActionLink("Add bestand", "Create", "Bestand", new { id = Model.ProjectID }) |
        <a asp-action="Index">Back to List</a>
    </div>

    @foreach (var item in Model.Bestanden)
    {
        <h1>@item.BestandsLocatie</h1>
        <img src="~/bestanden/@Model.GebruikerID/@Model.ProjectNaam/@item.BestandsLocatie" alt="my img" />
        @Html.ActionLink("Delete", "Delete", "Bestand", new { projectID = Model.ProjectID, bestandID = item.ID })
    }
</div>

