@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectBeschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GebruikerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectBeschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDatum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
